---
import Button from "@/components/button.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Bon Voyage">
  <div class="grid grid-cols-4 grid-rows-5 gap-1 h-full w-full mb-1">
    <div
      class="col-span-2 row-span-3 flex flex-col justify-between bg-chalk bg-[url('/plane-wing.webp')] bg-cover bg-no-repeat rounded-3xl p-6"
    >
      <div class="w-4/5">
        <h1 class="text-5xl font-bold">THE ULTIMATE TRAVEL APP</h1>
        <p class="text-base leading-5">
          Discover the must-see landmarks, historical sites, and hidden gems of
          your destination with our comprehensive guide.
        </p>
      </div>
      <div class="flex items-center gap-2">
        <Button size="wide">Download</Button>
        <Button size="circle">
          <i data-lucide="download" class="size-4"></i>
        </Button>
      </div>
    </div>
    <div
      class="row-span-3 bg-mint bg-[url('/pyramid.webp')] bg-bottom bg-[auto_40%] bg-no-repeat rounded-3xl p-6"
    >
      <div class="w-4/5">
        <p class="text-lg font-bold">
          WITH DETAILED INFORMATION AND REVIEWS, YOU CAN EASILY FIND THE BEST
          DESTINATION
        </p>
      </div>
    </div>
    <div
      class="row-span-3 bg-[url('/yacht.webp')] bg-[100%_auto] rounded-3xl p-6"
    >
      <div class="flex flex-col justify-between h-full w-1/2">
        <p class="text-2xl font-bold">MORE THAN 3000 LINES</p>
        <Button variant="secondary" size="circle">
          <i data-lucide="map" class="size-4"></i>
        </Button>
      </div>
    </div>
    <div
      class="col-span-2 row-span-2 bg-[url('/venice.webp')] bg-[100%_auto] bg-bottom bg-no-repeat rounded-3xl p-6"
    >
      <div class="w-1/2">
        <p class="text-lg font-bold">ALL GUIDES HAVE TOP THINGS TO DO</p>
      </div>
    </div>
    <div
      class="col-span-2 row-span-2 bg-sky bg-[url('/leaning-tower-pisa.webp')] bg-[auto_100%] bg-[bottom_right_10%] bg-no-repeat rounded-3xl p-6"
    >
      <div class="flex flex-col justify-between h-full w-4/5">
        <p class="text-lg font-bold">
          CREATE YOUR OWN ITINERARY AND BOOK YOUR TOURS AND ACTIVITIES WITH JUST
          A FEW TAPS
        </p>
        <Button size={"wide"}>Create</Button>
      </div>
    </div>
  </div>
</Layout>
<script>
  import { createIcons, Download, Map } from "lucide"

  createIcons({
    icons: {
      Download,
      Map,
    },
  })
</script>
